.rbRiversContainer{
    margin-left: 20px;
}
.rbRiverInput{
	margin-bottom: 30px;
}
.button-continer{
	margin-top: 10px;
}
.rball-rivers-table{
    
    
}
.rbmarginBottomMid{
	margin-bottom: 20px !important;
}
.rbtableHeader{
    color: aquamarine;
}
.rball-rivers-table-header{
    font-size: 24px;
    color: orange;
    margin-top: 20px;
}
.rbstatus{
    height: 30px;
}
.rbstatusRed{
    background-color: red;
}
.rbstatusOrange{
    background-color: orange;
}
.rbstatusGreen{
    background-color: green;
}
.rbstatusUnknown{
    background-color: grey;
}
.rbriverRow{
    margin-bottom: 10px;
}
#rbmap { 
	height: 300px;
}

@media only screen and (max-width: 600px){
    .rbriverRow > div{
        padding-left: 0px;
        padding-right: 0px;
        border-right: 1px solid aquamarine;
    }
}