<!DOCTYPE html>
<html lang="en" ng-app="riverbook">
	<head>
		<title>Riverbook</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/rbcommon.css">
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>		
		<script src="app.js"></script>
        
	</head>
<body>
	<div ng-controller="LoginController" ng-show="showLoginForm == true">
		<div class="col-lg-12 userinput">
			<p>User Name:</p>
			<input type="text" id="rbusername" ng-model="rbusername"/>
		</div>
		<div class="col-lg-12 userinput">
			<p>Password:</p>
			<input type="password" id="rbpassword" ng-model="rbpassword"/>
		</div>
		<div class="col-lg-12 userinput button-continer">
			<button ng-click="userLogin()"> Login </button>
		</div>
	</div>
    <div ng-controller="RiverinfoController" ng-show="showRiverForm == true" class="rbRiversContainer">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-5">
                <h2> Welcome {{rbusername}} </h2>
                <p class="rbRequired">River Name: </p>
                <input type="text" id="rbriverName" class="rbRiverInput" ng-model="rbriverName"/>
				<p class="rbRequired">River Point: </p>
                <input type="text" id="rbriverPoint" class="rbRiverInput" ng-model="rbriverPointName"/>
                <p>River Location: </p>
               <!-- <input type="text" id="rbriverLocation" ng-model="rbriverLocation"/> OR
                <button ng-click="getLocation()">Get current location</button>
                <textarea id="rbriverLocationAuto">{{rbriverLocationAuto}}</textarea>
                <div id="mapholder" ng-bind-html="rbusermap"></div> -->
				<div id="rbmap" class="rbRiverInput"></div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-lg-offset-1 col-lg-2">
                <p>Issues: </p>
                <input type="checkbox" ng-model="exploitation" class="rbmarginBottomMid">Exploitation<br>
                <input type="checkbox" ng-model="encroachment" class="rbmarginBottomMid">Encroachment<br>
                <input type="checkbox" ng-model="pollution" class="rbmarginBottomMid">Pollution
            </div>
            <div class="col-lg-5">
                <p>Severity: </p>		
                <input type="radio" ng-model="ExSeverity" value="1" class="rbmarginBottomMid">Low
                <input type="radio" ng-model="ExSeverity" value="2" class="rbmarginBottomMid">Medium
                <input type="radio" ng-model="ExSeverity" value="3" class="rbmarginBottomMid">High<br>
                
                <input type="radio" ng-model="EnSeverity" value="1" class="rbmarginBottomMid">Low
                <input type="radio" ng-model="EnSeverity" value="2" class="rbmarginBottomMid">Medium
                <input type="radio" ng-model="EnSeverity" value="3" class="rbmarginBottomMid">High<br>
                
                <input type="radio" ng-model="PlSeverity" value="1" class="rbmarginBottomMid">Low
                <input type="radio" ng-model="PlSeverity" value="2" class="rbmarginBottomMid">Medium
                <input type="radio" ng-model="PlSeverity" value="3" class="rbmarginBottomMid">High
            </div>
        </div>
		<div class="row">
            <div class="col-lg-offset-1 col-lg-5">
                <div class="button-continer">
                    <button ng-click="saveRiverInfo()"> Submit </button>
                </div>
            </div>
        </div>
        <div class="row rball-rivers-table-header">
            <div class="col-lg-offset-1 rbtableHeader">All Rivers Summary</div> <div class="col-lg-offset-1 rbtableHeader" style="font-size: 16px; color: #f5a325">(Click on river name to see points on that river)   </div>        
        </div>
		<div class="rbBorder col-lg-offset-1">
        <div class="row rball-rivers-table">
            <div class="col-lg-2 hidden-xs col-xs-3 rbtableHeader">Name</div>
            <!-- <div class="col-lg-2 col-xs-4 hidden-xs rbtableHeader">State</div>
            <div class="col-lg-1 col-xs-1 hidden-xs rbtableHeader">Exploitation</div>
            <div class="col-lg-1 col-xs-1 hidden-xs rbtableHeader">Encroachment</div>
            <div class="col-lg-1 col-xs-1 hidden-xs rbtableHeader">Pollution</div> -->
            <div class="col-lg-3 col-sx-1 hidden-xs rbtableHeader">Overall Status</div>
        </div>
        <div ng-repeat="river in allRivers.rivers" class="row rbriverRow">
            <div class="col-lg-2 col-xs-3" data-toggle="modal" data-target="#rbPointPopup">{{river.name}}</div>
            <!-- <div class="col-lg-2 hidden-xs col-xs-4">{{river.state}}</div>
            <div class="col-lg-1 col-xs-2">{{river.exploitationLevel}}</div>
            <div class="col-lg-1 col-xs-2">{{river.encroachmentLevel}}</div>
            <div class="col-lg-1 col-xs-2">{{river.pollutionLevel}}</div> -->
            <div class="col-lg-3 col-xs-1 rbstatus rbstatusRed" ng-if="river.overallStatus == 'red'"></div>
            <div class="col-lg-3 col-xs-1 rbstatus rbstatusOrange" ng-if="river.overallStatus == 'orange'"></div>
            <div class="col-lg-3 col-xs-1 rbstatus rbstatusGreen" ng-if="river.overallStatus == 'green'"></div>
            <div class="col-lg-3 col-xs-1 rbstatus rbstatusUnknown" ng-if="river.overallStatus == ''"></div>
            
        </div>
		</div>
		
		<!-- start point popup -->
		<div id="rbPointPopup" class="modal fade" role="dialog">
		  <div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">River Points</h4>
			  </div>
			  <div class="modal-body">
				<p>River points info will be shown here</p>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  </div>
			</div>

		  </div>
		</div>
		<!--end point popup -->
	</div>
</body>
</html>
