<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Riverbook</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/rbcommon.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>		
		<script src="../js/loginController.js"></script>		
	</head>
<body>
	<div ng-app="riverbook" ng-controller="loginController">
		<div class="col-lg-12 userinput">
			<p>User Name:</p>
			<input type="text" id="rbusername"ng-model="rbusername"/>
		</div>
		<div class="col-lg-12 userinput">
			<p>Password:</p>
			<input type="password" id="rbpassword" ng-model="rbpassword"/>
		</div>
		<div class="col-lg-12 userinput button-continer">
			<button ng-click="userLogin()"> Login </button>
		</div>
	</div>
</body>
</html>